<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="row w-100" >
            <div class="col-md-6  p-5 rounded shadow" style="background-color:  #c8b193;" >
                <form action="/login" method="POST" novalidate >
                    <h2 class="text-center mb-4">Login</h2>
                    <% if (typeof error !== 'undefined' && error) { %>
                        <div class="text-danger text-center"><%= error %></div>
                    <% } %>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter email" required aria-label="Email">
                        <% if (errors && errors.some(e => e.path === 'email')) { %>
                            <div class="text-danger">
                               <small><%= errors.find(e => e.path === 'email').msg %></small> 
                            </div>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required aria-label="Password">
                        <% if (errors && errors.some(e => e.path === 'password')) { %>
                            <div class="text-danger">
                                <small><%= errors.find(e => e.path === 'password').msg %></small>
                            </div>
                        <% } %>
                    </div>
                    <button type="submit" class="btn btn-info btn-block">Login</button>
                    <a href="/forgot-password" class="d-block text-center mt-2">Forgot password?</a>
                    
                    <div class="d-flex align-items-center justify-content-center my-3">
                        <a href="/auth/google" class="btn btn-outline-danger mx-2" >
                            <img src="/img/icon/Google.png" alt="Google Sign-In" style="height: 20px; margin-right: 5px;">Google Sign-In
                        </a>
                    </div>
                    
                    <p class="text-center">Don't have an account? <a href="/register">Sign Up</a></p>
                </form>  
            </div>
            <div class="col-md-6 d-none d-md-block" style="background-image: url('assets/imgs/theme/logimg.jpg'); background-size: cover; background-position: center; border-radius: 0 5px 5px 0;"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
